@charset "utf-8";

/*スタイルシート*/

.container {
	width: 600px;
	
}

/*
.box {
	width: 600px;
	height: 600px;
}


.image1 {
	background-image:url(./img/bg1.jpg)
}

.image2 {
	background-image:url(./img/bg2.jpg)
}

.image3 {
	background-image:url(./img/bg3.jpg)
}

.image4 {
	background-image:url(./img/bg4.jpg)
}

.image5 {
	background-image:url(./img/bg5.jpg)
}

*/